.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    gap: 20px;
    font-size: 14px;
    padding: 0 40px;
    &-logo{
        height: 3rem;
    }
    &-links{
        display: flex;
        gap: 20px;
    }    
}