.search-employee {
  height: calc(100vh - 160px);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  &__error{
    width: 100%;
    position: absolute;
    top: 0;
    padding: 40px 0;
    text-align: center;
    background-color: #e04;
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      &__dni {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      input[type="text"] {
        padding: 10px 15px;
      }
      button[type="submit"] {
        padding: 5px 10px;
        width: 40%;
        cursor: pointer;
      }
    }
  }
}
