.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    &-logo{
        height: 6rem;
    }
    &-form{
        padding: 30px 50px;
        border: 1px #ddd solid;
        width: 400px;
        &__container{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            &__field{
                padding: 8px 12px;
            }
            button[type='submit']{
                padding: 8px 12px;
                background: #eb722f;
                border:none;
                margin: 0 0 15px 0;
                cursor: pointer;
            }
        }
        p{
            font-size: 12px;
            margin: 0 0 10px 0;
        }
    }
}
.login-error{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #e23;
}